body {
	font-family: 'Roboto', sans-serif;
}

/* Custom Scroll */
::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #9ebb1f;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #697d14;
}

/* /Custom Scroll */
h1, h2 {
	font-weight: 600;
	color: #9ebb1f;
	letter-spacing: 2px;
}

h1 span {
	font-weight: 600;
	color: #697d14;
}

h2 {
	padding-bottom: 10px;
}

h2 span {
	font-weight: 600;
	color: #697d14;
}

.content-box {
	min-height: 100vh;
	display: flex !important;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#header {
	background-size: contain;
	background-image: url(../img/bg1.svg);
	background-repeat: no-repeat;
}

/* BECAUSE EXPLORER IS BULLSHIT */
@media \0 screen\,screen\9 {
	#header, #contact {
		background: none !important;
	}

	#home-social {
		display: none;
	}

	#header .content-box, #experience .content-box, #portfolio .content-box, #contact .content-box {
		min-height: auto;
		display: block !important;
	}
}

@media screen\0 {
	#header, #contact {
		background: none !important;
	}

	#home-social {
		display: none;
	}

	#header .content-box, #experience .content-box, #portfolio .content-box, #contact .content-box {
		min-height: auto;
		display: block !important;
	}
}

_:-ms-fullscreen, :root #header, #contact {
	background: none !important;
}

_:-ms-fullscreen, :root #home-social {
	display: none;
}

@media \0 screen\,screen\9   and (max-width: 768px) {
	#header .content-box {
		height: auto;
	}
}

@media screen\0   and (max-width: 768px) {
	#header .content-box {
		height: auto;
	}
}

@media (max-width: 768px) {
	_:-ms-fullscreen, :root #header .content-box {
		height: auto;
	}
}

/* /BECAUSE EXPLORER IS BULLSHIT */
#header img {
	max-width: 200px;
}

#about {
	background: #efefef;
}

#about h3 {
	color: #9ebb1f;
}

#about img {
	max-width: 100%;
}

#experience h2 {
	padding-top: 20px;
}

#contact {
	background-size: contain;
	background: url(../img/bg5.svg) bottom;
	background-repeat: no-repeat;
}

#nav {
	position: fixed;
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
}

#nav ul li {
	padding: 0;
}

#nav i {
	padding: 1rem;
	color: #9ebb1f;
	transition: 0.3s;
}

#nav i:hover {
	color: #697d14;
	transition: 0.3s;
}

#home-social {
	position: absolute;
	bottom: 0;
	margin-bottom: 20px;
}

#footer-social {
	padding-bottom: 3%;
}

#home-social ul, #footer-social ul {
	display: inline-block;
}

#home-social ul li, #footer-social ul li {
	display: inline-block;
	border: none;
}

#home-social ul li a, #footer-social ul li a {
	color: #9ebb1f;
	font-size: 2rem;
	transition: 0.3s;
}

#home-social ul li a:hover, #footer-social ul li a:hover {
	color: #697d14;
	font-size: 2rem;
	transition: 0.3s;
}

footer {
	color: #fff;
	padding: 10px 0;
}

.form-control:focus {
	border-color: #9ebb1f;
}

.my-btn {
	background: #fff;
	color: #9ebb1f;
	border: 1px solid #9ebb1f;
	border-radius: 1rem;
	padding: 10px 15px;
	transition: .3s;
	cursor: pointer;
}

.my-btn:hover {
	background: #9ebb1f;
	color: #fff;
	border: 1px solid #9ebb1f;
	text-decoration: none;
	transition: .3s;
}

.progress {
	margin-bottom: 10px;
}

.progress-bar-animated {
	padding-left: 5px;
}

.progress-bar {
	background-color: #9ebb1f;
}

.container-about {
	width: 70%;
	background: #fff;
	padding: 50px;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}

.col-progress {
	padding: 2% 0 4% 0;
}

/* TIMELINE */
.timeline {
	position: relative;
}

.timeline:before {
	content: '';
	position: absolute;
	left: 50%;
	width: 2px;
	height: 100%;
	background: #c5c5c5;
}

.timeline ul {
	padding: 0;
	margin: 0;
}

.timeline ul li {
	list-style: none;
	position: relative;
	width: 50%;
	padding: 10px 40px;
	box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
	float: left;
	text-align: right;
	clear: both;
}

.timeline ul li:nth-child(even) {
	float: right;
	text-align: left;
	clear: both;
}

.content {
	padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
	content: '';
	position: absolute;
	top: 24px;
	right: -6px;
	width: 10px;
	height: 10px;
	background: #9ebb1f;
	border-radius: 50%;
	box-shadow: 0 0 0 3px rgba(158, 187, 31, 0.2);
}

.timeline ul li:nth-child(even):before {
	content: '';
	position: absolute;
	top: 24px;
	left: -4px;
	width: 10px;
	height: 10px;
	background: #9ebb1f;
	border-radius: 50%;
	box-shadow: 0 0 0 3px rgba(158, 187, 31, 0.2);
}

.timeline ul li h3 {
	font-weight: 600;
	margin: 0;
	padding: 0;
	color: #9ebb1f;
	font-size: 1.5rem;
}

.timeline ul li p {
	margin: 10px 0 0;
	padding: 0;
}

.timeline ul li:nth-child(odd) .time {
	position: absolute;
	top: 12px;
	right: -165px;
	margin: 0;
	padding: 8px 16px;
	background: #9ebb1f;
	color: #fff;
	box-shadow: 0 0 0 3px rgba(158, 187, 31, 0.2);
}

.timeline ul li:nth-child(even) .time {
	position: absolute;
	top: 12px;
	left: -165px;
	margin: 0;
	padding: 8px 16px;
	background: #9ebb1f;
	color: #fff;
	box-shadow: 0 0 0 3px rgba(158, 187, 31, 0.2);
}

@media (max-width: 990px) {
	.timeline {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.timeline:before {
		left: 20px;
	}

	.timeline ul li:nth-child(odd), .timeline li:nth-child(even) {
		width: 100%;
		text-align: left;
	}

	.timeline ul li:nth-child(odd):before, .timeline li:nth-child(even):before {
		top: -18px !important;
		left: 16px !important;
	}

	.timeline ul li:nth-child(odd) .time, .timeline li:nth-child(even) .time {
		top: -30px !important;
		left: 50px !important;
		right: inherit;
	}
}

/* /TIMELINE */
/* CAROUSEL */
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
	background: #869791 !important;
	border-radius: 20px;
	display: block;
	height: 12px;
	margin: 5px 7px;
	opacity: 0.5;
	width: 12px;
	transition: .3s;
}

.owl-carousel button.owl-dot {
	background: #869791 !important;
	border-radius: 20px;
	display: block;
	height: 12px;
	margin: 5px 7px;
	opacity: 0.5;
	width: 12px;
	transition: .3s;
}

.owl-carousel .owl-nav button.owl-next:focus, .owl-carousel .owl-nav button.owl-prev:focus {
	background: #9ebb1f !important;
	transition: .3s;
	border: none;
	outline: none;
}

.owl-carousel button.owl-dot:focus, .owl-carousel button.active {
	background: #9ebb1f !important;
	transition: .3s;
	border: none;
	outline: none;
}

.owl-dots {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* /CAROUSEL */
/* MEDIA QUERIES */
@media (max-width: 768px) {
	.content-box {
		min-height: auto;
		height: auto;
	}

	#header .content-box {
		height: 100vh;
	}

	.container-about {
		width: 100%;
	}

	#experience h2 {
		padding-bottom: 40px;
	}

	.timeline ul li p {
		font-size: .8rem;
	}

	.timeline ul li h3 {
		font-size: 1.2rem;
	}

	.timeline ul li:nth-child(even) .time, .timeline ul li:nth-child(odd) .time {
		font-size: .8rem;
		padding: 5px 15px;
	}

	.timeline ul li:nth-child(even), .timeline ul li:nth-child(odd) {
		margin-top: 25px;
	}

	#my-ugly-page {
		display: none;
	}

	#portfolio {
		padding-top: 20px;
	}

	#contact {
		padding-top: 20px;
		background-size: contain;
		background: url(../img/bg5-mobile.svg) bottom;
		background-repeat: no-repeat;
	}

	form {
		padding-bottom: 50px;
	}

	form h2 {
		padding-top: 10px;
		font-size: 1rem;
	}

	#about img {
		max-width: 50%;
		width: 50%;
	}

	#about h3 {
		padding-top: 15px;
	}
}

@media (max-width: 576px) {
	#nav {
		left: 0;
		bottom: 0;
		top: auto;
		transform: none;
		width: 100%;
		z-index: 10;
	}

	#nav ul {
		flex-direction: row;
	}

	#nav ul li {
		width: 20%;
		border-radius: 0;
	}

	#nav ul li a {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#nav ul li a:hover {
		text-decoration: none;
	}

	#contact {
		margin-bottom: 50px;
	}

	.container-about {
		padding: 25px;
	}

	footer {
		padding: 0;
	}

	footer span {
		font-size: .7rem;
	}

	#home-social {
		margin-bottom: 50px;
	}
}

/* /MEDIA QUERIES */